<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}">

<th: block layout:fragment="css">
  <style>
    .my-card{
      padding:45px 30px;
    }

  </style>
</th:>

<th:block layout:fragment="content">


  <div class="content-wrapper container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
      </div>
    </div>
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        <!--card grid start -->
        <th:block th:each="event:${events}">
          <a th:href="@{/events/{id}(id = ${event.id})}">
            <div class="col my-card">
              <div class="card h-100">
                <img class="card-img-top" th:src="${event.eventImgDto.imgUrl}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title" th:text="${event.title}">제목</h5>
                  <p class="cart-text" th:text="${event.title}">내용</p>
                  <small class="text-muted" th:text="${event.status}">9 mins</small>
                </div>
              </div>
            </div>
          </a>
        </th:block>
      </div>
    </div>
  </div>


  <!-- paging -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" th:href="@{/events(page=0)}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"
          th:class="'page-item ' + (${currentPage} <= 0? 'disabled' : '' )">
        <a class="page-link"
           th:href="@{/events(page=${currentPage - 1})}"
           aria-label="Next">
          <span aria-hidden="true">&lsaquo;</span>
        </a>
      </li>
      <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
          <li class="page-item">
            <a class="page-link"
               th:if="${page != currentPage}"
               th:href="@{/events(page=${page})}"
               th:text="${page + 1}">
            </a>
          </li>
          <li class="page-item active">
            <span class="page-link"
                  th:if="${page == currentPage}"
                  th:text="${page + 1}"></span>
          </li>
      </th:block>
      <li class="page-item"
          th:class="'page-item ' + (${events.last} == true? 'disabled' : '' )">
        <a class="page-link"
           th:href="@{/events(page=${currentPage + 1})}"
           aria-label="Next">
          <span aria-hidden="true">&rsaquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link"
           th:href="@{/events(page=${events.totalPages - 1})}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</th:block>>
</html>